<%= form_with(model: uesr, local: true) do |form| %>
  <% if uesr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uesr.errors.count, "error") %> prohibited this uesr from being saved:</h2>

      <ul>
      <% uesr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :uesr_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :uesr_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
